
<section class="relative grid-item item">
    {{ if gt .Weight 0 }}
    <span
      class="mb-2 ml-px inline-block text-[0.8rem] font-medium uppercase tracking-wider text-[#ff3b2d] opacity-70"
      >Featured</span
    >
    {{ end }}
  
    {{ if .Params.image }}
      <a href="{{ .Params.image }}" class="item-img" data-fancybox="gallery">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
      </a>
    {{ else }}
    {{ end }}

    <h2 class="pb-1 font-bold !leading-none item-title">{{ .Title }}</h2>
    <time class="text-sm antialiased opacity-60"
      >{{ .Date | time.Format ":date_medium" }}</time
    >

    <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
  
    
  </section>